* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  background-color: #0f0f0f;
  background-size: 30px 30px;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.2) 5%,
    transparent 5%
  );
}

.header {
  height: 6vh;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
}

.icons {
  height: 45px;
  width: auto;
}

.signin-btn {
  height: 35px;
  width: 90px;
  font-size: 16px;
  color: #f2ddcc;
  cursor: pointer;
  border-radius: 10px;
  padding: 0px 1px;
  background-color: #2b3247;
  outline: none;
  border: none;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
}
.signin-icon {
  color: #f2ddcc;
  height: 10px;
  width: auto;
  padding: 4px;
  /* background-color: aqua; */
}
.centre {
  height: 85vh;
  max-width: 680px;
  min-width: 64px;
  margin: auto;
}

#typing-text {
  font-size: 2rem;
  padding: 10% 10%;
  color: #f2ddcc;
}

.footer {
  height: 7vh;
  margin: auto;
  padding: 0px 20px 0px 20px;
}

.search {
  height: 70px;
  max-width: 744px;
  min-width: 460px;
  margin: auto;
  border-radius: 40px;
  border: 1px groove rgb(64, 64, 64);
  background-color: rgb(25, 25, 25);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.search:has(input:focus) {
  border: 1px solid #6d6a73;
  transition: border 0.3s ease;
}
input {
  height: 65%;
  width: 78%;
  font-size: 16px;
  padding: 20px;
  color: white;
  cursor: text;
  outline: none;
  border: none;
  border-radius: 40px;
  background-color: #1c1c1c;
  border: 1px dashed rgb(73, 73, 73);
}

.upload-label {
  cursor: pointer;
  background-color: rgb(0, 140, 255);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
}
.ri-upload-2-line {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  /* background-color: aqua; */
  color: white;
  font-size: 20px;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
}
.ri-upload-2-line:hover {
  color: rgb(0, 140, 255);
}
.upload-label:hover {
  background-color: white;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
}
.send {
  background: transparent;
  border: none;
  /* padding: 0; */
  cursor: pointer;
  background-color: rgb(0, 140, 255);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
}
.send:hover {
  background-color: white;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
}
/* .send img {
  height: 48px;
  width: auto;
  display: block;
} */
.send i {
  font-size: 20px;
  padding: 10px;
  color: white;
  font-weight: 800;
  /* background-color: aqua; */
  border-radius: 50%;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
.send i:hover {
  color: rgb(0, 140, 255);
  transition: cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}
@media screen and (max-width: 480px) {
  body {
    overflow: hidden;
    height: 100vh;
  }

  .header {
    height: 7vh;
    padding: 0 10px;
  }

  .icons {
    height: 30px;
  }

  .signin-btn {
    height: 30px;
    width: 90px;
    font-size: 12px;
    padding: 4px 8px;
  }

  #typing-text {
    padding-top: 100px;
    font-size: 1.5em;
    margin-bottom: 20px;
  }

  .centre {
    height: 75vh;
    padding: 0 15px;
  }

  .search {
    height: 50px;
    width: 100%;
    margin: 0 auto;
  }

  .search input {
    width: 65%;
    font-size: 12px;
    padding: 8px;
  }
  .upload-label {
    width: 30px;
    height: 30px;
  }
  .ri-upload-2-line {
    color: white;
    font-size: 17px;
  }
  .send img {
    height: 35px;
  }
}
